	<!--

	    #header
	   {

	      top:0px; left:0px; right:0px;
	      padding:0px;
	      padding-bottom: 20px;
	   }
	
	.img_logo
	{
		min-width:200px;
		max-width:600px;

	} 

	   #footer
	   {
	     // position:fixed;
	      //bottom:0px; left:0px; right:0px;
	      //background-image: url(../assets/images/BG-Footer.png);
	      //background-repeat: repeat-x;
	      padding-top:10px;
	      padding-bottom:1px;
	   }

    	#main
        {
            margin: 2em auto 0;
            min-width: 700px;
            padding: 2em;
            background: white;
            -webkit-box-shadow: 0 1px 10px #D9D9D9;
            -moz-box-shadow: 0 1px 10px #D9D9D9;
            -ms-box-shadow: 0 1px 10px #D9D9D9;
            -o-box-shadow: 0 1px 10px #D9D9D9;
            box-shadow: 0 1px 10px #D9D9D9;
        }


	.img_table
	{
		max-width:200px;
		max-height:200px;
	} 

	#datainputdiv
		{
			 //background: #0000ff;
			 float: left;
			 width: 550px;
		}

	.input-box-ok
		{
			background-color : lightgreen; 
		}	

	.input-box-unset
		{
			background-color : lightsalmon; 
		}	
		
	.input-box-error
		{
			background-color : lightsalmon; 
		}
	-->